
//月白		#EAF4FC
//
//薄瑠璃	#9EC0E2
//
//瑠璃色	#1E50A2
//群青色	#465DAA
//
//千草色	#4E7DA0	#92B5A9
//藍色　	#165E83
//薄縹　	#507EA4
//灰青　	#C0C6C9
//藍鼠　	#6C848D
//
//撫子色	#EEBBCB
//珊瑚色	#F5B1AA

$BASE_COLOR: #9EC0E2;
$ACCENT_COLOR: #EAF4FC;
$MAIN_COLOR: #1E50A2;
