/*
*/

@import "common-config";
@import "menu";


.copyright {
	font-size:	0.6em;
	position:	fixed;
	bottom:	0;
	right:	10px;
}

body{
	background-color: $BASE-COLOR;
	color: $ACCENT-COLOR;
	font-weight: bolder;
	margin: 0;
	
	> header{
		position: fixed;
		width: 100%;
		margin: 0;
		padding: 0;
		
		> h1{
			margin: 0;
			padding: 0.5em 2em;
			right: 0;
			position: relative;
			font-size: 4em;
			text-align: right;
		}
	}
}






