/*
*/

@import "mixins";
@import "common-config";
@import "menu";


.copyright {
	font-size:	0.6em;
	position:	fixed;
	bottom:	0;
	right:	10px;
}

body{
	background-color: $BASE-COLOR;
	color: $ACCENT-COLOR;
	font-weight: bolder;
	margin: 0;
	
	> header {
		position	:	fixed;
		width		:	100%;
		margin		:	0;
		padding		:	0;
		top			:	0;
		
		> h1 {
			margin		: 0;
			padding		: 0.5em;
			right		: 0;
			position	: relative;
			font-size	: 4em;
			text-align	: right;
			color		:	$MAIN-COLOR;
		}
	}
	
	> section {
		margin	:	8em;
	}
}



//#content{
//	
//	> article.column {
//		@include experimental(column-count, 2);
//		@include experimental(column-gap, 1.5em);
//		@include experimental(column-rule, 1px solid $MAIN-COLOR);
//		
//		@media only screen and (max-device-width	: 600px){
//			@include experimental(column-count, 1);
//		}
//	}
//}

input[type="text"]:not([size]){
	width	:	10em;
}




// menu調整
.menu {
	
	.search > li {
		width: 300px;
	}
	
	a {
		font-size	:	1.5em;
	}
	
	ul ul ul{
		a {
			font-size	:	1.2em;
		}
		
		ul {
			width	:	8em;
		}
	}
	
	li{
		&:first-child{
			display	:	none;
			color: $BASE-COLOR;
		}
		&:last-child{
			display	:	block;
			color: $BASE-COLOR;
		}
	}
	&.top li{
		&:first-child{
			display	:	block;
		}
		&:last-child{
			display	:	none;
		}
	}
	
	ul{
		a{
			@include rounded("", 1em);
			text-align	:	center;
		}
		
		
		li:hover a,
		a:hover,
		a:active{
			@include background-rgba( $ACCENT_COLOR, 0.5 );
		}
		li:hover,
		a:hover,
		a:active{
			a{
				background	:	transparent;
			}
			li:hover a,
			a:hover,
			a:active{
				@include background-rgba( $ACCENT_COLOR, 0.5 );
			}
			
			li:hover,
			a:hover,
			a:active{
				a{
					//background	:	transparent;
					@include background-rgba( $MAIN_COLOR, 0.5 );
				}
				li:hover a,
				a:hover,
				a:active{
					@include background-rgba( $ACCENT_COLOR, 0.5 );
				}
				li:hover,
				a:hover,
				a:active{
					a{
						background	:	transparent;
					}
					li:hover a,
					a:hover,
					a:active{
						@include background-rgba( $ACCENT_COLOR, 0.5 );
					}
				}
			}
		}
	}
}




nav.index-main-nav {
	text-align: center;
	width	:	100%;
	
	> div {
		display	:	inline-block;
		margin	:	0 auto;
		padding	:	1em;
		
		img {
			@include rounded("", 2em);
		}
		
		a:hover img,
		a img:hover {
			@include background-rgba( $ACCENT_COLOR, 0.25 );
		}
	}
}


.menu {
	.amazon {
		> iframe {
			@include rounded(top-left, 1em);
			@include rounded(top-right, 1em);
		}
	}
}


pre {
	background: $MAIN_COLOR;
	color: black;
	padding: 1em;
	//overflow: scroll;

	@include rounded("", 1em);
}


.search{
	.gsc-webResult.gsc-result,
	.gsc-imageResult{
		background-color: inherit;
		
		&:hover{
			background-color: inherit;
		}
	}
}