/*
*/
/*
Document   : _mixins
*/
/**
* 角丸
*/
/*
Document   : _menu
Created on : 2012/09/03, 21:29:23
Author     : atomita
Description:
Purpose of the stylesheet follows.
*/
/*
TODO customize this sample style
Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
.menu {
  position: fixed;
  bottom: 0;
}
.menu ul {
  z-index: 2147483645;
}
.menu ul ul {
  z-index: 2147483646;
}
.menu ul ul ul {
  z-index: 2147483647;
}
.menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.menu ul li {
  position: relative;
  display: block;
}
.menu ul li:hover a,
.menu ul li a:hover,
.menu ul li a:active {
  color: #cadaf5;
}
.menu ul li:hover ul,
.menu ul li a:hover ul,
.menu ul li a:active ul {
  visibility: visible;
  bottom: 3em;
}
.menu ul li:hover ul li,
.menu ul li a:hover ul li,
.menu ul li a:active ul li {
  display: block;
}
.menu ul li:hover ul li a,
.menu ul li a:hover ul li a,
.menu ul li a:active ul li a {
  display: block;
  width: 100%;
}
.menu ul li:hover ul li ul,
.menu ul li a:hover ul li ul,
.menu ul li a:active ul li ul {
  visibility: hidden;
}
.menu ul li:hover ul li:hover a,
.menu ul li:hover ul li a:hover,
.menu ul li:hover ul li a:active,
.menu ul li a:hover ul li:hover a,
.menu ul li a:hover ul li a:hover,
.menu ul li a:hover ul li a:active,
.menu ul li a:active ul li:hover a,
.menu ul li a:active ul li a:hover,
.menu ul li a:active ul li a:active {
  color: #cadaf5;
}
.menu ul li:hover ul li:hover ul,
.menu ul li:hover ul li a:hover ul,
.menu ul li:hover ul li a:active ul,
.menu ul li a:hover ul li:hover ul,
.menu ul li a:hover ul li a:hover ul,
.menu ul li a:hover ul li a:active ul,
.menu ul li a:active ul li:hover ul,
.menu ul li a:active ul li a:hover ul,
.menu ul li a:active ul li a:active ul {
  visibility: visible;
  bottom: 0;
  width: 100%;
}
.menu ul li:hover ul li:hover ul li ul,
.menu ul li:hover ul li a:hover ul li ul,
.menu ul li:hover ul li a:active ul li ul,
.menu ul li a:hover ul li:hover ul li ul,
.menu ul li a:hover ul li a:hover ul li ul,
.menu ul li a:hover ul li a:active ul li ul,
.menu ul li a:active ul li:hover ul li ul,
.menu ul li a:active ul li a:hover ul li ul,
.menu ul li a:active ul li a:active ul li ul {
  visibility: hidden;
}
.menu ul li:hover ul li:hover ul li:hover a,
.menu ul li:hover ul li:hover ul li a:hover,
.menu ul li:hover ul li:hover ul li a:active,
.menu ul li:hover ul li a:hover ul li:hover a,
.menu ul li:hover ul li a:hover ul li a:hover,
.menu ul li:hover ul li a:hover ul li a:active,
.menu ul li:hover ul li a:active ul li:hover a,
.menu ul li:hover ul li a:active ul li a:hover,
.menu ul li:hover ul li a:active ul li a:active,
.menu ul li a:hover ul li:hover ul li:hover a,
.menu ul li a:hover ul li:hover ul li a:hover,
.menu ul li a:hover ul li:hover ul li a:active,
.menu ul li a:hover ul li a:hover ul li:hover a,
.menu ul li a:hover ul li a:hover ul li a:hover,
.menu ul li a:hover ul li a:hover ul li a:active,
.menu ul li a:hover ul li a:active ul li:hover a,
.menu ul li a:hover ul li a:active ul li a:hover,
.menu ul li a:hover ul li a:active ul li a:active,
.menu ul li a:active ul li:hover ul li:hover a,
.menu ul li a:active ul li:hover ul li a:hover,
.menu ul li a:active ul li:hover ul li a:active,
.menu ul li a:active ul li a:hover ul li:hover a,
.menu ul li a:active ul li a:hover ul li a:hover,
.menu ul li a:active ul li a:hover ul li a:active,
.menu ul li a:active ul li a:active ul li:hover a,
.menu ul li a:active ul li a:active ul li a:hover,
.menu ul li a:active ul li a:active ul li a:active {
  color: #cadaf5;
}
.menu ul li:hover ul li:hover ul li:hover ul,
.menu ul li:hover ul li:hover ul li a:hover ul,
.menu ul li:hover ul li:hover ul li a:active ul,
.menu ul li:hover ul li a:hover ul li:hover ul,
.menu ul li:hover ul li a:hover ul li a:hover ul,
.menu ul li:hover ul li a:hover ul li a:active ul,
.menu ul li:hover ul li a:active ul li:hover ul,
.menu ul li:hover ul li a:active ul li a:hover ul,
.menu ul li:hover ul li a:active ul li a:active ul,
.menu ul li a:hover ul li:hover ul li:hover ul,
.menu ul li a:hover ul li:hover ul li a:hover ul,
.menu ul li a:hover ul li:hover ul li a:active ul,
.menu ul li a:hover ul li a:hover ul li:hover ul,
.menu ul li a:hover ul li a:hover ul li a:hover ul,
.menu ul li a:hover ul li a:hover ul li a:active ul,
.menu ul li a:hover ul li a:active ul li:hover ul,
.menu ul li a:hover ul li a:active ul li a:hover ul,
.menu ul li a:hover ul li a:active ul li a:active ul,
.menu ul li a:active ul li:hover ul li:hover ul,
.menu ul li a:active ul li:hover ul li a:hover ul,
.menu ul li a:active ul li:hover ul li a:active ul,
.menu ul li a:active ul li a:hover ul li:hover ul,
.menu ul li a:active ul li a:hover ul li a:hover ul,
.menu ul li a:active ul li a:hover ul li a:active ul,
.menu ul li a:active ul li a:active ul li:hover ul,
.menu ul li a:active ul li a:active ul li a:hover ul,
.menu ul li a:active ul li a:active ul li a:active ul {
  visibility: visible;
  bottom: 0;
  width: 100%;
}
.menu ul li:hover ul li:hover ul li:hover ul li:hover a,
.menu ul li:hover ul li:hover ul li:hover ul li a:hover,
.menu ul li:hover ul li:hover ul li:hover ul li a:active,
.menu ul li:hover ul li:hover ul li a:hover ul li:hover a,
.menu ul li:hover ul li:hover ul li a:hover ul li a:hover,
.menu ul li:hover ul li:hover ul li a:hover ul li a:active,
.menu ul li:hover ul li:hover ul li a:active ul li:hover a,
.menu ul li:hover ul li:hover ul li a:active ul li a:hover,
.menu ul li:hover ul li:hover ul li a:active ul li a:active,
.menu ul li:hover ul li a:hover ul li:hover ul li:hover a,
.menu ul li:hover ul li a:hover ul li:hover ul li a:hover,
.menu ul li:hover ul li a:hover ul li:hover ul li a:active,
.menu ul li:hover ul li a:hover ul li a:hover ul li:hover a,
.menu ul li:hover ul li a:hover ul li a:hover ul li a:hover,
.menu ul li:hover ul li a:hover ul li a:hover ul li a:active,
.menu ul li:hover ul li a:hover ul li a:active ul li:hover a,
.menu ul li:hover ul li a:hover ul li a:active ul li a:hover,
.menu ul li:hover ul li a:hover ul li a:active ul li a:active,
.menu ul li:hover ul li a:active ul li:hover ul li:hover a,
.menu ul li:hover ul li a:active ul li:hover ul li a:hover,
.menu ul li:hover ul li a:active ul li:hover ul li a:active,
.menu ul li:hover ul li a:active ul li a:hover ul li:hover a,
.menu ul li:hover ul li a:active ul li a:hover ul li a:hover,
.menu ul li:hover ul li a:active ul li a:hover ul li a:active,
.menu ul li:hover ul li a:active ul li a:active ul li:hover a,
.menu ul li:hover ul li a:active ul li a:active ul li a:hover,
.menu ul li:hover ul li a:active ul li a:active ul li a:active,
.menu ul li a:hover ul li:hover ul li:hover ul li:hover a,
.menu ul li a:hover ul li:hover ul li:hover ul li a:hover,
.menu ul li a:hover ul li:hover ul li:hover ul li a:active,
.menu ul li a:hover ul li:hover ul li a:hover ul li:hover a,
.menu ul li a:hover ul li:hover ul li a:hover ul li a:hover,
.menu ul li a:hover ul li:hover ul li a:hover ul li a:active,
.menu ul li a:hover ul li:hover ul li a:active ul li:hover a,
.menu ul li a:hover ul li:hover ul li a:active ul li a:hover,
.menu ul li a:hover ul li:hover ul li a:active ul li a:active,
.menu ul li a:hover ul li a:hover ul li:hover ul li:hover a,
.menu ul li a:hover ul li a:hover ul li:hover ul li a:hover,
.menu ul li a:hover ul li a:hover ul li:hover ul li a:active,
.menu ul li a:hover ul li a:hover ul li a:hover ul li:hover a,
.menu ul li a:hover ul li a:hover ul li a:hover ul li a:hover,
.menu ul li a:hover ul li a:hover ul li a:hover ul li a:active,
.menu ul li a:hover ul li a:hover ul li a:active ul li:hover a,
.menu ul li a:hover ul li a:hover ul li a:active ul li a:hover,
.menu ul li a:hover ul li a:hover ul li a:active ul li a:active,
.menu ul li a:hover ul li a:active ul li:hover ul li:hover a,
.menu ul li a:hover ul li a:active ul li:hover ul li a:hover,
.menu ul li a:hover ul li a:active ul li:hover ul li a:active,
.menu ul li a:hover ul li a:active ul li a:hover ul li:hover a,
.menu ul li a:hover ul li a:active ul li a:hover ul li a:hover,
.menu ul li a:hover ul li a:active ul li a:hover ul li a:active,
.menu ul li a:hover ul li a:active ul li a:active ul li:hover a,
.menu ul li a:hover ul li a:active ul li a:active ul li a:hover,
.menu ul li a:hover ul li a:active ul li a:active ul li a:active,
.menu ul li a:active ul li:hover ul li:hover ul li:hover a,
.menu ul li a:active ul li:hover ul li:hover ul li a:hover,
.menu ul li a:active ul li:hover ul li:hover ul li a:active,
.menu ul li a:active ul li:hover ul li a:hover ul li:hover a,
.menu ul li a:active ul li:hover ul li a:hover ul li a:hover,
.menu ul li a:active ul li:hover ul li a:hover ul li a:active,
.menu ul li a:active ul li:hover ul li a:active ul li:hover a,
.menu ul li a:active ul li:hover ul li a:active ul li a:hover,
.menu ul li a:active ul li:hover ul li a:active ul li a:active,
.menu ul li a:active ul li a:hover ul li:hover ul li:hover a,
.menu ul li a:active ul li a:hover ul li:hover ul li a:hover,
.menu ul li a:active ul li a:hover ul li:hover ul li a:active,
.menu ul li a:active ul li a:hover ul li a:hover ul li:hover a,
.menu ul li a:active ul li a:hover ul li a:hover ul li a:hover,
.menu ul li a:active ul li a:hover ul li a:hover ul li a:active,
.menu ul li a:active ul li a:hover ul li a:active ul li:hover a,
.menu ul li a:active ul li a:hover ul li a:active ul li a:hover,
.menu ul li a:active ul li a:hover ul li a:active ul li a:active,
.menu ul li a:active ul li a:active ul li:hover ul li:hover a,
.menu ul li a:active ul li a:active ul li:hover ul li a:hover,
.menu ul li a:active ul li a:active ul li:hover ul li a:active,
.menu ul li a:active ul li a:active ul li a:hover ul li:hover a,
.menu ul li a:active ul li a:active ul li a:hover ul li a:hover,
.menu ul li a:active ul li a:active ul li a:hover ul li a:active,
.menu ul li a:active ul li a:active ul li a:active ul li:hover a,
.menu ul li a:active ul li a:active ul li a:active ul li a:hover,
.menu ul li a:active ul li a:active ul li a:active ul li a:active {
  color: #cadaf5;
}
.menu ul li:hover ul li:hover ul li:hover ul li a,
.menu ul li:hover ul li:hover ul li a:hover ul li a,
.menu ul li:hover ul li:hover ul li a:active ul li a,
.menu ul li:hover ul li a:hover ul li:hover ul li a,
.menu ul li:hover ul li a:hover ul li a:hover ul li a,
.menu ul li:hover ul li a:hover ul li a:active ul li a,
.menu ul li:hover ul li a:active ul li:hover ul li a,
.menu ul li:hover ul li a:active ul li a:hover ul li a,
.menu ul li:hover ul li a:active ul li a:active ul li a,
.menu ul li a:hover ul li:hover ul li:hover ul li a,
.menu ul li a:hover ul li:hover ul li a:hover ul li a,
.menu ul li a:hover ul li:hover ul li a:active ul li a,
.menu ul li a:hover ul li a:hover ul li:hover ul li a,
.menu ul li a:hover ul li a:hover ul li a:hover ul li a,
.menu ul li a:hover ul li a:hover ul li a:active ul li a,
.menu ul li a:hover ul li a:active ul li:hover ul li a,
.menu ul li a:hover ul li a:active ul li a:hover ul li a,
.menu ul li a:hover ul li a:active ul li a:active ul li a,
.menu ul li a:active ul li:hover ul li:hover ul li a,
.menu ul li a:active ul li:hover ul li a:hover ul li a,
.menu ul li a:active ul li:hover ul li a:active ul li a,
.menu ul li a:active ul li a:hover ul li:hover ul li a,
.menu ul li a:active ul li a:hover ul li a:hover ul li a,
.menu ul li a:active ul li a:hover ul li a:active ul li a,
.menu ul li a:active ul li a:active ul li:hover ul li a,
.menu ul li a:active ul li a:active ul li a:hover ul li a,
.menu ul li a:active ul li a:active ul li a:active ul li a {
  color: #1e50a2;
}
.menu ul li:hover ul li:hover ul li a,
.menu ul li:hover ul li a:hover ul li a,
.menu ul li:hover ul li a:active ul li a,
.menu ul li a:hover ul li:hover ul li a,
.menu ul li a:hover ul li a:hover ul li a,
.menu ul li a:hover ul li a:active ul li a,
.menu ul li a:active ul li:hover ul li a,
.menu ul li a:active ul li a:hover ul li a,
.menu ul li a:active ul li a:active ul li a {
  color: #1e50a2;
  display: block;
  width: 100%;
}
.menu ul li:hover ul li a,
.menu ul li a:hover ul li a,
.menu ul li a:active ul li a {
  color: #1e50a2;
}
.menu ul li ul {
  visibility: hidden;
  position: absolute;
}
.menu ul li li {
  padding: 2px;
}
.menu ul li a {
  display: block;
  padding: 0.5em 0 0.5em 1em;
  font-size: 1em;
  text-decoration: none;
  text-align: left;
  color: #1e50a2;
}
.menu table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  margin: -1px;
}
.menu > ul > li > a {
  text-align: left;
  font-size: 2em;
  width: 4em;
  padding: 0.25em 1em;
}
.menu a:active + ul {
  visibility: visible;
  bottom: 3em;
  left: 0;
}
.menu a {
  color: #1e50a2;
}
.menu.top {
  top: 10%;
}
.menu.top li:hover ul,
.menu.top a:hover ul,
.menu.top a:active ul {
  top: 3em;
}
.menu.top li:hover ul li:hover ul,
.menu.top li:hover ul a:hover ul,
.menu.top li:hover ul a:active ul,
.menu.top a:hover ul li:hover ul,
.menu.top a:hover ul a:hover ul,
.menu.top a:hover ul a:active ul,
.menu.top a:active ul li:hover ul,
.menu.top a:active ul a:hover ul,
.menu.top a:active ul a:active ul {
  top: 0;
}
.menu.left {
  left: 0;
}
.menu.left li:hover ul,
.menu.left li a:hover ul,
.menu.left li a:active ul {
  left: 0;
  margin-left: 1em;
}
.menu.left li:hover ul li:hover ul,
.menu.left li:hover ul li a:hover ul,
.menu.left li:hover ul li a:active ul,
.menu.left li a:hover ul li:hover ul,
.menu.left li a:hover ul li a:hover ul,
.menu.left li a:hover ul li a:active ul,
.menu.left li a:active ul li:hover ul,
.menu.left li a:active ul li a:hover ul,
.menu.left li a:active ul li a:active ul {
  margin-left: 100%;
}
.menu.left li:hover ul li:hover ul li:hover ul,
.menu.left li:hover ul li:hover ul li a:hover ul,
.menu.left li:hover ul li:hover ul li a:active ul,
.menu.left li:hover ul li a:hover ul li:hover ul,
.menu.left li:hover ul li a:hover ul li a:hover ul,
.menu.left li:hover ul li a:hover ul li a:active ul,
.menu.left li:hover ul li a:active ul li:hover ul,
.menu.left li:hover ul li a:active ul li a:hover ul,
.menu.left li:hover ul li a:active ul li a:active ul,
.menu.left li a:hover ul li:hover ul li:hover ul,
.menu.left li a:hover ul li:hover ul li a:hover ul,
.menu.left li a:hover ul li:hover ul li a:active ul,
.menu.left li a:hover ul li a:hover ul li:hover ul,
.menu.left li a:hover ul li a:hover ul li a:hover ul,
.menu.left li a:hover ul li a:hover ul li a:active ul,
.menu.left li a:hover ul li a:active ul li:hover ul,
.menu.left li a:hover ul li a:active ul li a:hover ul,
.menu.left li a:hover ul li a:active ul li a:active ul,
.menu.left li a:active ul li:hover ul li:hover ul,
.menu.left li a:active ul li:hover ul li a:hover ul,
.menu.left li a:active ul li:hover ul li a:active ul,
.menu.left li a:active ul li a:hover ul li:hover ul,
.menu.left li a:active ul li a:hover ul li a:hover ul,
.menu.left li a:active ul li a:hover ul li a:active ul,
.menu.left li a:active ul li a:active ul li:hover ul,
.menu.left li a:active ul li a:active ul li a:hover ul,
.menu.left li a:active ul li a:active ul li a:active ul {
  margin-left: 100%;
}
.menu.right {
  right: 0;
}
.menu.right li:hover ul,
.menu.right li a:hover ul,
.menu.right li a:active ul {
  right: 0;
  margin-right: 1em;
}
.menu.right li:hover ul li:hover ul,
.menu.right li:hover ul li a:hover ul,
.menu.right li:hover ul li a:active ul,
.menu.right li a:hover ul li:hover ul,
.menu.right li a:hover ul li a:hover ul,
.menu.right li a:hover ul li a:active ul,
.menu.right li a:active ul li:hover ul,
.menu.right li a:active ul li a:hover ul,
.menu.right li a:active ul li a:active ul {
  margin-left: 0%;
  margin-right: 100%;
}
.menu.right li:hover ul li:hover ul li:hover ul,
.menu.right li:hover ul li:hover ul li a:hover ul,
.menu.right li:hover ul li:hover ul li a:active ul,
.menu.right li:hover ul li a:hover ul li:hover ul,
.menu.right li:hover ul li a:hover ul li a:hover ul,
.menu.right li:hover ul li a:hover ul li a:active ul,
.menu.right li:hover ul li a:active ul li:hover ul,
.menu.right li:hover ul li a:active ul li a:hover ul,
.menu.right li:hover ul li a:active ul li a:active ul,
.menu.right li a:hover ul li:hover ul li:hover ul,
.menu.right li a:hover ul li:hover ul li a:hover ul,
.menu.right li a:hover ul li:hover ul li a:active ul,
.menu.right li a:hover ul li a:hover ul li:hover ul,
.menu.right li a:hover ul li a:hover ul li a:hover ul,
.menu.right li a:hover ul li a:hover ul li a:active ul,
.menu.right li a:hover ul li a:active ul li:hover ul,
.menu.right li a:hover ul li a:active ul li a:hover ul,
.menu.right li a:hover ul li a:active ul li a:active ul,
.menu.right li a:active ul li:hover ul li:hover ul,
.menu.right li a:active ul li:hover ul li a:hover ul,
.menu.right li a:active ul li:hover ul li a:active ul,
.menu.right li a:active ul li a:hover ul li:hover ul,
.menu.right li a:active ul li a:hover ul li a:hover ul,
.menu.right li a:active ul li a:hover ul li a:active ul,
.menu.right li a:active ul li a:active ul li:hover ul,
.menu.right li a:active ul li a:active ul li a:hover ul,
.menu.right li a:active ul li a:active ul li a:active ul {
  margin-left: 0%;
  margin-right: 100%;
}

/*



.menu {position: fixed;bottom: 0;left: 0}

.menu ul li a,
.menu ul li a:visited {display:block; text-decoration:none; text-align:left; color:#1e50a2; padding:0.5em 0 0.5em 1em; background:#c9c9a7; font-size:1em}

.menu > ul > li > a {text-align: left;font-size:2em; width:4em; padding:0.25em 1em}

.menu ul {padding:0; margin:0;list-style-type: none}

.menu ul li {position:relative}

.menu ul li li {	padding:	2px}

.menu ul li ul {	visibility:	hidden; position:	absolute}

.menu table {	border-collapse:	collapse;	margin:	0;	padding:	0;	margin:	-1px	}

.menu ul li:hover a, .menu ul li a:hover {	background:	#e9e9c7	}

.menu ul li:hover ul,
.menu ul li a:hover ul,
.menu ul li a:focus ul{
visibility	:	visible;
bottom	:	3em;
left	:	0}

.menu ul li:hover ul li a.sub,
.menu ul li a:hover ul li a.sub	{
background	:	#a7c9c9;
color	:	#000}

.menu ul li:hover ul li,
.menu ul li a:hover ul li	{
display	:	block;
background	:	#9EC0E2;
color	:	#000;
clear	:	both}

.menu ul li:hover ul li:hover a.sub,
.menu ul li a:hover ul li a:hover.sub {
background	:	#dfc184;
color	:	#000}

.menu ul li:hover ul li ul,
.menu ul li a:hover ul li a ul {
visibility	:	hidden;
position	:	absolute}

.menu ul li:hover ul li:hover ul li ul,
.menu ul li a:hover ul li a:hover ul li a ul {
visibility	:	hidden;
position	:	absolute}

.menu ul li:hover ul li a,
.menu ul li a:hover ul li a {
display	:	block;
background	:	#c9a7c9;
color	:	#000;
width	:	100%}

.menu ul li:hover ul li:hover ul li a,
.menu ul li a:hover ul li a:hover ul li a {
display	:	block;
background	:	#c9a7c9;
color	:	#000;
width	:	100%}

.menu ul li:hover ul li a:hover,
.menu ul li a:hover ul li a:hover {
background	:	#dfc184;
color	:	#000}

.menu ul li:hover ul li:hover ul,
.menu ul li a:hover ul li a:hover ul {
visibility	:	visible;
margin-left	:	100%;
bottom	:	0;
width	:	100%}

.menu ul li:hover ul li:hover ul li:hover ul,
.menu ul li a:hover ul li a:hover ul li a:hover ul {
visibility	:	visible;
margin-left	:	100%;
bottom	:	0;
width	:	100%}

.menu ul li:hover ul li:hover ul li a, .menu ul li a:hover ul li a:hover ul li a {
background	:	#dfc184;
color	:	#000}

.menu ul li:hover ul li:hover ul li a:hover,
.menu ul li a:hover ul li a:hover ul li a:hover {
background	:	#c9c9a7;
color	:	#000}


.menu ul	{	z-index	:	2147483645	}
.menu ul ul	{	z-index	:	2147483646	}
.menu ul ul ul	{	z-index	:	2147483647	}
.menu.top	{	top		:	10%	}

.menu.top ul li:hover ul,
.menu.top ul li a:hover ul,
.menu.top ul li a:focus ul{	top	:	3em	}

.menu.top ul li:hover ul li:hover ul,
.menu.top ul li a:hover ul li a:hover ul,
.menu.top ul li:hover ul li:hover ul li:hover ul,
.menu.top ul li a:hover ul li a:hover ul li a:hover ul {	top	:	0	}

.menu.left	{	left	:	0	}







*/
.copyright {
  font-size: 0.6em;
  position: fixed;
  bottom: 0;
  right: 10px;
}

body {
  background-color: #9ec0e2;
  color: #eaf4fc;
  font-weight: bolder;
  margin: 0;
}
body > header {
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
}
body > header > h1 {
  margin: 0;
  padding: 0.5em 2em;
  right: 0;
  position: relative;
  font-size: 4em;
  text-align: right;
}

#content .column {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  -o-column-count: 2;
  -ms-column-count: 2;
  -khtml-column-count: 2;
  column-count: 2;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  -o-column-gap: 1.5em;
  -ms-column-gap: 1.5em;
  -khtml-column-gap: 1.5em;
  column-gap: 1.5em;
  -moz-column-rule: 1px solid #eaf4fc;
  -webkit-column-rule: 1px solid #eaf4fc;
  -o-column-rule: 1px solid #eaf4fc;
  -ms-column-rule: 1px solid #eaf4fc;
  -khtml-column-rule: 1px solid #eaf4fc;
  column-rule: 1px solid #eaf4fc;
}
@media only screen and (max-device-width: 480px) {
  #content .column {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    -o-column-count: 1;
    -ms-column-count: 1;
    -khtml-column-count: 1;
    column-count: 1;
  }
}
