---
layout: default
title: blog
---
<ul class="posts">
	{% for post in paginator.posts %}
	<li>
		<span>{{ post.date | date: "%Y-%m-%d" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
		<div>
			{% if post.content contains '<!--more-->' %}
			{{ post.content | split:'<!--more-->'| first }}
			<a class="more" href="{{ post.url }}">&raquo;&raquo;</a>
			{% else %}
			{{ post.content }}
			{% endif %}
		</div>
	</li>
	{% endfor %}
</ul>

<aside id="main_pagenation" class="pager">
	<ul>
		{% if paginator.previous_page %}<li class="newer"><a href="{{ site.blog_uri }}/{% if paginator.previous_page != 1 %}page{{ paginator.previous_page }}{% endif %}">&laquo;&nbsp;newer</a></li>{% endif %}
		{% if paginator.next_page %}<li class="older"><a href="{{ site.blog_uri }}/page{{ paginator.next_page }}">older&nbsp;&raquo;</a></li>{% endif %}
	</ul>
</aside>
