<!DOCTYPE html>
<!--[if lte IE 6 ]> <html lang="ja" class="no-js oldie ie v6"> <![endif]-->
<!--[if IE 7 ]> <html lang="ja" class="no-js oldie ie v7"> <![endif]-->
<!--[if IE 8 ]> <html lang="ja" class="no-js ie v8"> <![endif]-->
<!--[if IE 9 ]> <html lang="ja" class="no-js ie v9"> <![endif]-->
<!--[if gt IE 9 > <html lang="ja" class="no-js ie gt-v9"> <![endif]-->
<!--[if !(IE)]><!--> <html lang="ja" class="no-js"> <!--<![endif]-->
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article# blog: http://ogp.me/ns/blog#">
		{% include head.html %}
	</head>
	<body>
		<header>
			{% include header.html %}
		</header>

		<section id="content">
			<article class="column">
				{{ content }}
			</article>
			<nav class="prev-and-next">
				{% if page.previous %}<a rel="prev" href="{{ page.previous.url }}" class="post-prev" title="View {{ page.previous.title }}">{{ page.previous.title }}</a>{% endif %}
				{% if page.next %}<a rel="next" href="{{ page.next.url }}" class="post-next" title="View {{ page.next.title }}">{{ page.next.title }}</a>{% endif %}
			</nav>
		</section>
		<footer>
			{% include footer.html %}
		</footer>

		{% include menu.html %}
		<p class="copyright">Copyright &copy; 2012 nulil</p>

		<!--[if lt IE 10 ]>
		<script src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
		<script>!function(){CFInstall.check({mode:'overlay'});}();</script>
		<![endif]-->
		
		<div id="fb-root"></div>
		<script src="/js/fb-root.html"></script>
		
		{% include var-dump.html %}
	</body>
</html>