<!DOCTYPE html>
<!--[if lte IE 6 ]> <html lang="ja" class="no-js oldie ie v6"> <![endif]-->
<!--[if IE 7 ]> <html lang="ja" class="no-js oldie ie v7"> <![endif]-->
<!--[if IE 8 ]> <html lang="ja" class="no-js ie v8"> <![endif]-->
<!--[if IE 9 ]> <html lang="ja" class="no-js ie v9"> <![endif]-->
<!--[if gt IE 9 > <html lang="ja" class="no-js ie gt-v9"> <![endif]-->
<!--[if !(IE)]><!--> <html lang="ja" class="no-js"> <!--<![endif]-->
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article# blog: http://ogp.me/ns/blog#">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>{% if page.title %}{{ page.title }} </ {% endif %}{{ site.title }}</title>

		<meta property="og:title" content="{% if page.title %}{{ page.title }} </ {% endif %}{{ site.title }}" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="{% if page.url %}{{ page.url }}{% endif %}{{ site.url }}" />
		<meta property="og:image" content="{% if page.img %}{{ page.img }}{% endif %}" />
		<meta property="og:site_name" content="{{ site.title }}" />
		<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
		<meta property="fb:admins" content="{{ site.author.name }}" />

		<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
		<meta name="author" content="{{ site.author.name }}">
		
		<meta name="viewport" content="width=device-width,initial-scale=1" />

		<script>!function(){var d=document.documentElement;d.className=d.className.replace(/(^ *| )no-js( | *$)/,'$1js$2')}()</script>

		<!--[if lt IE 9]>
		<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<style>article, aside, figure, footer, header, hgroup, nav, section {	display: block;	}</style>
		<![endif]-->

		<script src="http://d3js.org/d3.v2.min.js"></script>
		<script src="/js/mm.min.js"></script>

		<script src="/js/google-site-search.js"></script>

		<link rel="stylesheet" href="/css/common.css" />
		<link rel="stylesheet" href="/css/syntax.css" />
	</head>
	<body>
		<header>
			{% include header.html %}
		</header>

		<article id="content" class="column">
			{{ content }}
		</article>

		<footer>
			{% include footer.html %}
		</footer>

		{% include menu.html %}
		<p class="copyright">Copyright &copy; 2012 nulil</p>

		<!--[if lt IE 10 ]>
		<script src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
		<script>!function(){CFInstall.check({mode:'overlay'});}();</script>
		<![endif]-->
	</body>
</html>
